@charset "UTF-8";
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  font-size: 87.5%;
}

header {
  border-bottom: solid #B4AEAE 0.0625rem;
  margin: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.marca {
  display: flex;
  align-items: center;
  justify-content: left;
}
.marca h1 {
  text-align: left;
  color: #1F2937;
  font-size: 1.2rem;
  margin-left: 0.2rem;
}
.marca img {
  height: 1.2rem;
}

#steps {
  border: none;
  background-color: white;
  color: #4B5563;
  font-size: 0.6rem;
  text-decoration: none;
  width: auto;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#ComeçarAgora {
  border: none;
  border-radius: 0.3rem;
  background-color: #21C05C;
  color: white;
  font-size: 0.6rem;
  width: 7.5rem;
  height: 2rem;
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#ComeçarAgora:hover {
  color: #21C05C;
  background-color: white;
  border: solid #21C05C 0.0625rem;
  border-radius: 0.2rem;
  transition: 0, 3s;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  width: 100%;
  gap: 0.5rem;
}

.introdução {
  margin: 1rem;
  padding-top: 1rem;
  text-align: start;
}
.introdução h2 {
  font-size: 2rem;
  line-height: 1.2;
  color: #1F2937;
  padding-bottom: 1rem;
}
.introdução p {
  font-size: 0.65rem;
  color: #485563;
}

.button1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
}

#QueroDoar {
  background-color: #16A34A;
  width: 7rem;
  height: 2rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 1rem;
  cursor: pointer;
}
#QueroDoar:hover {
  color: #21C05C;
  background-color: white;
  border: solid #21C05C 0.0625rem;
  border-radius: 0.2rem;
  transition: 0, 3s;
}
#QueroDoar img {
  height: 0.6rem;
  margin-left: 0.2rem;
}

#QueroAdquirir {
  background-color: white;
  width: 7rem;
  height: 2rem;
  border: solid #2563EB 0.0625rem;
  border-radius: 0.3rem;
  color: #2563EB;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
#QueroAdquirir:hover {
  color: white;
  background-color: #2563EB;
  border: none;
  border-radius: 0.2rem;
  transition: 0, 3s;
}
#QueroAdquirir img {
  height: 0.6rem;
  margin-left: 0.2rem;
}

.ImagemCentral {
  display: flex;
  justify-content: center;
  height: 30vh;
  margin: 3rem;
}

.dados {
  background-color: #F3F5F8;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 1rem;
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.card1 h3 {
  font-size: 1.5rem;
  color: #16A34A;
}
.card1 p {
  font-size: 0.6rem;
  color: #485563;
}

.funcionamento {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.funcionamento h4 {
  color: #1F2937;
  font-size: 1.3rem;
  margin: 0.5rem;
  width: 100%;
  text-align: center;
}
.funcionamento p {
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  color: #485563;
}

.etapa-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.25rem;
}

.numero-circulo {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: white;
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numero-circulo.verde {
  background-color: #16A34A;
}

.numero-circulo.azul {
  background-color: #4c8ffc;
}

.etapa-conteudo h4 {
  color: #09090B;
  font-size: 0.8rem;
  font-weight: 600;
}
.etapa-conteudo p {
  font-size: 0.6rem;
  margin-top: 0.125rem;
  color: #485563;
}

.subtítulo {
  font-size: 0.625rem;
  margin-bottom: 0.5rem;
  color: #485563;
}

.header-doadores, .header-adquirentes {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.header-doadores h3, .header-adquirentes h3 {
  font-size: 1rem;
  color: #16A34A;
  font-weight: normal;
}

.header-adquirentes h3 {
  font-size: 1rem;
  color: #2563EB;
  font-weight: normal;
}

.icone-doadores, .icone-adquirentes {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.4rem;
}

.ParaDoadores, .ParaAdquirentes {
  width: 20rem;
  height: 15rem;
  padding: 1.25rem;
  margin: 1rem auto;
  background-color: #F3F5F8;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  max-width: 90%;
  flex-direction: row;
}

.categorias {
  background-color: #F3F5F8;
  padding: 1rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.categorias h4 {
  color: #1F2937;
  font-size: 1.3rem;
  margin: 0.5rem;
  width: 100%;
  text-align: center;
}
.categorias p {
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  color: #485563;
}

.produtos {
  background-color: #F3F5F8;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  border: solid #16A34A 0.0625rem;
  border-radius: 0.5rem;
}
.card2 h3 {
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0.5rem;
}
.card2 p {
  font-size: 0.6rem;
  color: #485563;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.fotos {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

#button2 {
  margin: 1rem;
  background-color: #16A34A;
  width: 7rem;
  height: 2rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
#button2:hover {
  color: #21C05C;
  background-color: white;
  border: solid #21C05C 0.0625rem;
  border-radius: 0.2rem;
  transition: 0, 3s;
}

.avaliações {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.avaliações h4 {
  color: #1F2937;
  font-size: 1.3rem;
  margin: 0.5rem;
  width: 100%;
  text-align: center;
}
.avaliações p {
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  color: #485563;
}

.card3 {
  width: 50%;
  padding: 1.25rem;
  margin: 1rem auto;
  border: solid #9ca3af 0.0625rem;
  border-left: solid #9ca3af 0.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05);
  text-align: justify;
}
.card3 img {
  width: 40%;
  margin-bottom: 0.5rem;
}
.card3 h4 {
  font-size: 0.6rem;
  font-weight: 500;
}
.card3 p {
  font-size: 0.6rem;
  color: #485563;
  margin-bottom: 0.5rem;
}

.user {
  height: 1rem;
  width: 1rem;
  margin-right: 0.4rem;
}

.usuário {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.logo-usuário {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pronto {
  background-color: #F3F5F8;
  padding: 1rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.pronto h4 {
  color: #1F2937;
  font-size: 1.3rem;
  margin: 0.5rem;
  width: 100%;
  text-align: center;
}
.pronto p {
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  color: #485563;
  margin-bottom: 1rem;
}

#Começar {
  border: none;
  border-radius: 0.3rem;
  background-color: #21C05C;
  color: white;
  font-size: 0.6rem;
  width: 7.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#Começar:hover {
  color: #21C05C;
  background-color: white;
  border: solid #21C05C 0.0625rem;
  border-radius: 0.2rem;
  transition: 0, 3s;
}

#SaberMais {
  border: solid #21C05C 0.0625rem;
  border-radius: 0.3rem;
  color: #21C05C;
  font-size: 0.6rem;
  width: 7.5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#SaberMais:hover {
  color: white;
  background-color: #21C05C;
  border-radius: 0.2rem;
  transition: 0, 3s;
}

.button3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.marcaf {
  display: flex;
  align-items: center;
  justify-content: left;
}
.marcaf h1 {
  text-align: left;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 0.2rem;
}
.marcaf img {
  height: 1.2rem;
}

.links, .suporte, .redes {
  list-style-type: none;
  text-align: left;
  margin-right: 2rem;
}
.links img, .suporte img, .redes img {
  width: 1rem;
  height: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.rodapé {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.final {
  border-top: solid #B4AEAE 0.0625rem;
  padding-top: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #9ca3af;
  background-color: #1F2937;
  padding: 1rem;
}

@media (min-width: 900px) {
  * {
    font-size: 100%;
  }
  header {
    display: flex;
    flex-wrap: nowrap;
  }
  .menu {
    width: auto;
  }
  .introdução {
    text-align: center;
  }
  .card2 {
    width: 20%;
  }
  .card3 {
    width: 20%;
  }
}/*# sourceMappingURL=style.css.map */