// Seletor Global
*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    font-size: 87.5%;
}

header {
    margin: 0.0625rem;
    border-bottom: solid #B4AEAE 0.0625rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;   
    align-items: center;
}

.marca {
    display: flex;
    align-items: center;

    h1 {
        text-align: left;
        color: #1F2937;
        font-size: 1rem;
        margin-left: 0.2rem;
    }
    
    img {
        height: 1rem;
    }
}

#steps {
    border: none;

    background-color: white;

    color: #4B5563;
    font-size: 1rem

    width 6.25rem;
    height: 1.875rem;

    padding: 0.5rem;
}

#ComeçarAgora {
    border: none;
    border-radius: 0.3rem;

    background-color: #21C05C;

    color: white;
    font-size: 0.6rem;
    margin-left: 1rem;

    width: 7.5rem;
    height: 2rem;
}

main {
    h2 {
        color: #1F2937;
    }    

    p {
        color: #485563;
    }

    h3 {
        color: #16A34A;
    }

}

.introdução {
    margin: 1rem;
    padding-top: 1rem;

    h2 {
        font-size: 2rem;
        text-align: start;
        line-height: 1.2;
    }

    p {
        margin-top: 0.3rem;
        font-size: 0.65rem;
    }
}

.button2 {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
}

#QueroDoar {
    background-color: #16A34A;
    width: 7rem;
    height: 2rem;
    
    border: none;
    border-radius: 0.3rem;

    color: white;
    font-size: 0.6rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
        height: 0.6rem;
        margin-left: 0.2rem;
    }
}

#QueroAdquirir {
    background-color: white;
    width: 7rem;
    height: 2rem;
    
    border: solid #2563EB 0.0625rem;
    border-radius: 0.2rem;

    color: #2563EB;
    font-size: 0.6rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
        height: 0.6rem;
        margin-left: 0.2rem;
    }
}

.ImagemCentral {
    display: flex;
    justify-content: center;
    height: 30vh;
    margin: 3rem;
}

.dados {
    background-color: #F3F5F8;

    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 1rem;
}

.card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;

    p {
        font-size: 0.6rem;
    }
}

.funcionamento {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    h4 {
        color: #1F2937;
        font-size: 1.3rem;
        margin: 0.5rem;
        width: 100%;
        text-align: center;
    }

    p {
        font-size: 0.8rem;
        width: 100%;
        text-align: center;
    }
}

// Contêiner de cada linha (círculo + texto)
.etapa-item {
    display: flex;
    align-items: flex-start; // Alinha o conteúdo ao topo
    margin-bottom: 1.25rem;
}

// Estilo Básico do Círculo 
.numero-circulo {
    width: 1.5rem; 
    height: 1.5rem;
    border-radius: 50%; // Faz o círculo~

    color: white; 
    font-size: 0.875rem;
    font-weight: 600;

    margin-right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.numero-circulo.verde {
    background-color: #16A34A; 
}

.numero-circulo.azul {
    background-color: #4c8ffc; 
}

// Cor do título dos cards
.header-adquirentes {
    h3 {
        color: #2563EB; 
    }
}

// Cor das etapas
.etapa-conteudo {
    h4 {
        color: #09090B;
        font-size: 0.8rem;
        font-weight: 600;
    }
        
    p {
        font-size: 0.6rem;
        margin-top: 0.125rem;
    }
}   

// 
.subtítulo {
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
}

// Alinha o ícone e o texto do cabeçalho 
.header-doadores, .header-adquirentes {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    h3{
        font-size: 1rem;
    }
}

.icone-doadores, .icone-adquirentes {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.4rem;
}

// Estilo das caixas "Para Doadores" e "Para Adquirentes" 
.ParaDoadores, .ParaAdquirentes {
    padding: 1.25rem;
    background-color: #F3F5F8;
    border-radius: 0.5rem;
    margin: 1rem auto;
    max-width: 90%;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.05); 
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 1rem;
    margin-top: 2rem;
}

// Responsividade
// @media - Condição que faz o site se adaptar a diferentes tamanhos de tela
@media( min-width: 900px ){
    * {
        font-size: 100%;
    }
}